{% extends 'base.html' %}
{% load staticfiles %}

{% block body_block %}
        <p>visit: {{ visits }}</p>
        <div class="page-header">
            {% if user.is_authenticated %}
            <h1>Rango says... hello {{user.username}}</h1>
            {% else %}
            <h1>Rango says... hello world!</h1>
            {% endif %}
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
        {% if categories %}
            <ul class="list-group">
                {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'category' category.slug %}">{{ category.name }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Pages</h3>
        {% if pages %}
        <strong>Top 5 Most Viewed Page</strong><br>
        <ul class="list-group">
            {% for page in pages %}
                <li class="list-group-item">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong>There are no pages</strong>
        {% endif %}
            </div>
        </div>
        <img src="{% static "img/rango.jpg" %}" alt="Picture of Rango" /> <!-- New line -->
{% endblock %}